@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

::view-transition-old(root) {
    animation: 0.5s ease-out both fade-out;
}

::view-transition-new(root) {
    animation: 0.5s ease-in both fade-int;
}




body {
    background-color: black;
    font-family: monospace;
    color: #ff0099;
    padding-left: 3%;
    font-size: 14px;

}

header {
    font-family: monospace;
    color: #ff0099;
    font-size: 30px;
    text-shadow: 0 0 12px #ff0099;

}

.sidebar a {
    font-family: monospace;
    color: #ff0099;
    font-size: 70%;
    overflow: hidden;
}

.menu-btn {
    background-color: #000000;
    font-family: monospace;
    color: #ff0099;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    border-radius: 10px;
    font-size: large;

}

.menu-btn:hover {
    background-color: #1a1d23;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #000000;
    padding-top: 50px;
    z-index: 999;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px #ffffff;
    overflow: hidden;
}

.sidebar.active {
    left: 0;

    overflow: hidden;

}

.sidebar .close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: left 0.3s ease-out;
    overflow: hidden;
}

.sidebar-links a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.2s;
    padding-left: 20px;
    text-shadow: 2px 0 5px #ffffff;
}






.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;


}

.tester {
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ff0099;
    border-radius: 8px;
    padding: 10px;
    max-width: 350;
    transition: all 0.3s ease;
    overflow: visible;
    cursor: pointer;
    min-width: 350px;
    min-height: 100px;

}

.tester .close-btn {
    text-decoration: none;
    color: #ff0099;
    position: relative;
    font-size: 18px;
    border: none;
    top: -3px;
    left: 75px;

}

.tester .close-btn {
    text-decoration: none;
    color: #ff0099;
    position: relative;
    font-size: 18px;
    border: none;
    top: -3px;
    left: 75px;

}

.tester .close-btn2 {
    text-decoration: none;
    color: #ff0099;
    position: relative;
    font-size: 18px;
    border: none;
    top: -3px;
    left: 235px;
}

.tester .close-btn3 {
    text-decoration: none;
    color: #ff0099;
    position: relative;
    font-size: 18px;
    border: none;
    top: -3px;
    left: 230px;
}

.tester2 {
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ff0099;
    border-radius: 8px;
    padding: 10px;
    max-width: 300;
    transition: all 0.3s ease;
    overflow: visible;
    cursor: pointer;
    min-width: 250px;
    text-decoration: none;

}

.inner {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    padding: 0;
    background-color: black;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
}

.inner a {
    text-decoration: none;
    color: #ff0099;

}

.inner-hint {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    padding: 0;
    background-color: black;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;

}

.tester:hover {
    background-color: #1a1d23;

}

.tester2:hover {
    background-color: #1a1d23;

}

.tester2.active {
    background-color: #000000;
    color: #ff0099;
}

.tester.active {
    background-color: #000000;
    color: #ff0099;
}

.tester.active .inner {
    max-height: 300px;
    opacity: 1;
    margin: 10px 0;
    padding: 20px;
}

.tester2.active>.inner-hint {
    max-height: 100px;
    opacity: 1;
    margin-top: 10px;
}


.Preview {
    font-weight: 600;
    color: #ff0099;

}





footer {

    position: fixed;
    bottom: 3;
    text-align: center;
    left: 40%;

}

.thing {
    font-size: large;

}

.flagTextBox {

    background-color: #000000;
    font-family: monospace;
    color: #ff0099;
    border: #1d1d1d;
    transition: all 0.3ms ease;
    width: 400px;
    padding: 12px 16px;
    font-size: medium;

}

.flagTextBox:focus {
    border: #000000;
    outline: none;
    box-shadow: 0 0 12px rgb(42, 41, 41);
    width: 500px;

}

p {
    color: #ff0099;
    font-family: monospace;
}




.flagChecklist {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.flagChecklist li {
    width: calc(33.333% - 10px);
    box-sizing: border-box;
}

#flagChecklist input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #ff0099;
    background-color: black;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 8px;
    z-index: 1 !important;
    font-size: large;
}

#flagChecklist input[type="checkbox"]:checked {
    background-color: #ff0099;
    position: relative;
    z-index: 1 !important;
}

#flagChecklist input[type="checkbox"]:checked::after {
    content: "✔";
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 3px;
    top: -1px;
    z-index: 1 !important;
}

#flagChecklist input[type="checkbox"]:checked {
    background-color: #ff0099;
    box-shadow: 0 0 8px #ff0099;
    position: relative;
    z-index: 1 !important;
}